/* 
  Place all the styles related to the matching controller here.
*/

#main {
  width: 700px;
  margin: 25px;
}

#sidebar{
  float: left;
  margin-right: 10px;
  width: 90px;
}

#messages{
  border: 1px solid #999;
  width: 568px;
  min-height: 200px;
  float: left;
  padding: 15px;
}

.message .created_at{
  float:right;
  font-style: italic;
  color: gray;
}

form.new_message textarea{
  margin-left: 100px;
}
